section.nota{
    span{
        font-weight: bold;
    }
    ol, ul{
        margin: 25px;

        li{
            padding: 5px;
            
        }
    }
    h3{
        margin-bottom: 15px;
    }
}