@use 'variables';
footer{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    background-color: variables.$color-dark-dark-grey;
    position: relative;
    bottom: 0;
    margin-top: auto; 
    p{
        font-family: variables.$font-name;
        font-size: 2rem;
        color: variables.$color-black;
        text-shadow: 0px 0px 30px variables.$color-grey;
        
    }
    a{
        font-size: 1.2rem;
        text-shadow: none;
        
    }
}