@use 'variables';

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 25px;
    background-color: variables.$color-dark-dark-grey;
   
    figure{
        margin: 0;
        padding-top: 11px;
    }
    figcaption{
        display: none;
    }

    .hamburger {
        font-size: 2rem;
        background: none;
        border: none;
        color: variables.$color-white;
        cursor: pointer;
        display: none; 
        z-index: 10;
    }
      
    nav {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 70%;
        justify-content: flex-end;
        
        ul li a{
            text-decoration: none;
            color: variables.$color-grey;
            position: relative;
            &:hover::after {
                content: "";
                position: absolute;
                bottom: -10px;        
                left: 0;
                width: 50%;       
                height: 3px;      
                background: variables.$color-red;
            }   

            &:hover{
                color: variables.$color-red;
            }   
        }
        
        ul{
            display: flex;
            gap:30px;
            padding-top: 12px;
            list-style: none;
        }

        
        @media (max-width: 1024px){
            position: absolute;
            top: 80px;
            right: 0;
            width: 40%;
            background: variables.$color-dark-dark-grey;
            justify-content: center;

            ul {
                flex-direction: column;
                align-items: center;
                display: none;
                padding: 1.5rem 0;
                
            }

            ul.active {
                display: flex;
            }
        }
    }
    @media (max-width: 1024px) {
    .hamburger {
      display: block;
    }
  }
    
}